<p id="notice"><%= notice %></p>
<h1>Orders</h1>
<table>
  <thead>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      Total amount: <%= order.total_amount %></td>
    </tr>
    <% order.order_details.each do |order_detail| %>
      <tr>
        <td>Product name: <%= order_detail.product.name %></td>
        <td>Product Unit cost: <%= order_detail.product.price %></td>
        <td>Quantity: <%= order_detail.quantity %></td>
        <td>Total Price: <%= order_detail.total_price %></td>
        <td>Total Tax: <%= order_detail.total_tax %></td>
        <td>Total Product Amount: <%= order_detail.total_amount %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<br>
